<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp Registration</title>
</head>
<body>
  <%- include('partials/_header') %>

  <form action="/register" method="POST">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
      <div>
        <label for="">Email</label>
      </div>
      <div>
        <input class="form-control" type="email" name="email" placeholder="E-Mail" style="width: 300px; margin: 1em">
      </div>
      <div>
        <label for="">Password</label>
      </div>
      <div>
        <input class="form-control" type="password" name="password" placeholder="Password" style="width: 300px; margin: 1em">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Create Account</button>
      </div>
    </div>
  </form>
</body>
</html>